In [11]:
import pandas as pd
from sqlalchemy import create_engine
from config import passwd

In [9]:
conn_string = f'postgresql://postgres:{passwd}@localhost:5432/sql-challenge'
engine = create_engine(conn_string)
connection = engine.connect()

**Create a histogram to visualize the most common salary ranges for employees**

In [12]:
salaries_df = pd.read_sql_table('salaries', engine)

In [16]:
salaries_df["salaries"].describe()

count    300024.000000
mean      52970.732451
std       14301.478491
min       40000.000000
25%       40000.000000
50%       48681.000000
75%       61758.000000
max      129492.000000
Name: salaries, dtype: float64

**create salary range bins**

In [25]:
bins = [0, 49999, 59999, 69999, 79999, 89999, 99999, 109999, 119999, 139999]

**create labels for the bins**

In [26]:
range_labels = ["< 50,000", "50K - 60K", "60K - 70K", "70K - 80K", "80K - 90K", 
                "90k - 100K", "100k - 110K", "110K - 120K", "> 120,000"]

**slice the data and place into bins**

In [27]:
salaries_df["Salary Range"] = pd.cut(salaries_df["salaries"], bins, labels=range_labels)

In [28]:
salary_ranges = salaries_df["Salary Range"].value_counts()

In [29]:
salary_ranges = salary_ranges.sort_index()

In [30]:
salary_ranges

< 50,000       158465
50K - 60K       57915
60K - 70K       41413
70K - 80K       24814
80K - 90K       11845
90k - 100K       4284
100k - 110K      1069
110K - 120K       195
> 120,000          24
Name: Salary Range, dtype: int64

In [32]:
salary_range_df = pd.DataFrame(salary_ranges)

In [34]:
salary_range_df = salary_range_df.rename(columns={"Salary Range" : "Totals"})
salary_range_df

In [35]:
salary_range_df

             Totals
< 50,000     158465
50K - 60K     57915
60K - 70K     41413
70K - 80K     24814
80K - 90K     11845
90k - 100K     4284
100k - 110K    1069
110K - 120K     195
> 120,000        24